<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar">
	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

		<a href="/user/newsfeed" class="logo">
			<div class="img-wrap">
				<img src="/public/img/logo5.png" alt="G C T" style="width:30px; height:30px">
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="/user/newsfeed">
						<svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="NEWSFEED">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="/user/allchats">
						<svg class="olymp-chat---messages-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Chat/Messages">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="/user/allnotifications">
						<svg class="olymp-thunder-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Notifications">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="/user/profile">
						<svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Profile">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="/user/profilesettings">
						<svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Profile Settings">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="/user/logout">
						<svg class="olymp-logout-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Logout">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-logout-icon"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>