<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar">
	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

		<a href="/user/newsfeed" class="logo">
			<div class="img-wrap">
				<img src="/public/img/logo.png" alt="G C T">
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						<svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="OPEN MENU">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="/user/newsfeed">
						<svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="NEWSFEED">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="16-FavPagesFeed.html">
						<svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="FAV PAGE">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="17-FriendGroups.html">
						<svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="FRIEND GROUPS">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="18-MusicAndPlaylists.html">
						<svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="MUSIC&PLAYLISTS">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-headphones-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="19-WeatherWidget.html">
						<svg class="olymp-weather-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="WEATHER APP">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-weather-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="20-CalendarAndEvents-MonthlyCalendar.html">
						<svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="CALENDAR AND EVENTS">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="24-CommunityBadges.html">
						<svg class="olymp-badge-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Community Badges">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-badge-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="25-FriendsBirthday.html">
						<svg class="olymp-cupcake-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Friends Birthdays">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-cupcake-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="26-Statistics.html">
						<svg class="olymp-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Account Stats">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-stats-icon"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="27-ManageWidgets.html">
						<svg class="olymp-manage-widgets-icon left-menu-icon" data-toggle="tooltip"
							data-placement="right" data-original-title="Manage Widgets">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-manage-widgets-icon"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
		<a href="02-ProfilePage.html" class="logo">
			<div class="img-wrap">
				<img src="/public/img/logo.png" alt="G C T">
			</div>
			<div class="title-block">
				<h6 class="logo-title">G C T</h6>
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						<svg class="olymp-close-icon left-menu-icon">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
						</svg>
						<span class="left-menu-title">Collapse Menu</span>
					</a>
				</li>
				<li>
					<a href="03-Newsfeed.html">
						<svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="NEWSFEED">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use>
						</svg>
						<span class="left-menu-title">Newsfeed</span>
					</a>
				</li>
				<li>
					<a href="16-FavPagesFeed.html">
						<svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="FAV PAGE">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
						</svg>
						<span class="left-menu-title">Fav Pages Feed</span>
					</a>
				</li>
				<li>
					<a href="17-FriendGroups.html">
						<svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="FRIEND GROUPS">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
						</svg>
						<span class="left-menu-title">Friend Groups</span>
					</a>
				</li>
				<li>
					<a href="18-MusicAndPlaylists.html">
						<svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="MUSIC&PLAYLISTS">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-headphones-icon"></use>
						</svg>
						<span class="left-menu-title">Music & Playlists</span>
					</a>
				</li>
				<li>
					<a href="19-WeatherWidget.html">
						<svg class="olymp-weather-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="WEATHER APP">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-weather-icon"></use>
						</svg>
						<span class="left-menu-title">Weather App</span>
					</a>
				</li>
				<li>
					<a href="20-CalendarAndEvents-MonthlyCalendar.html">
						<svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="CALENDAR AND EVENTS">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
						</svg>
						<span class="left-menu-title">Calendar and Events</span>
					</a>
				</li>
				<li>
					<a href="24-CommunityBadges.html">
						<svg class="olymp-badge-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Community Badges">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-badge-icon"></use>
						</svg>
						<span class="left-menu-title">Community Badges</span>
					</a>
				</li>
				<li>
					<a href="25-FriendsBirthday.html">
						<svg class="olymp-cupcake-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Friends Birthdays">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-cupcake-icon"></use>
						</svg>
						<span class="left-menu-title">Friends Birthdays</span>
					</a>
				</li>
				<li>
					<a href="26-Statistics.html">
						<svg class="olymp-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Account Stats">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-stats-icon"></use>
						</svg>
						<span class="left-menu-title">Account Stats</span>
					</a>
				</li>
				<li>
					<a href="27-ManageWidgets.html">
						<svg class="olymp-manage-widgets-icon left-menu-icon" data-toggle="tooltip"
							data-placement="right" data-original-title="Manage Widgets">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-manage-widgets-icon"></use>
						</svg>
						<span class="left-menu-title">Manage Widgets</span>
					</a>
				</li>
			</ul>

			<div class="profile-completion">

				<div class="skills-item">
					<div class="skills-item-info">
						<span class="skills-item-title">Profile Completion</span>
						<span class="skills-item-count"><span class="count-animate" data-speed="1000"
								data-refresh-interval="50" data-to="76" data-from="0"></span><span
								class="units">76%</span></span>
					</div>
					<div class="skills-item-meter">
						<span class="skills-item-meter-active bg-primary" style="width: 76%"></span>
					</div>
				</div>

				<span>Complete <a href="#">your profile</a> so people can know more about you!</span>

			</div>
		</div>
	</div>
</div>

<!-- ... end Fixed Sidebar Left -->

<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar fixed-sidebar-responsive">

	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
		<a href="#" class="logo js-sidebar-open">
			<img src="/public/img/logo.png" alt="G C T">
		</a>

	</div>

	<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
		<a href="#" class="logo">
			<div class="img-wrap">
				<img src="/public/img/logo.png" alt="G C T">
			</div>
			<div class="title-block">
				<h6 class="logo-title">G C T</h6>
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">

			<div class="control-block">
				<div class="author-page author vcard inline-items">
					<div class="author-thumb">
						<img alt="author" src="/public/img/author-page.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
					<a href="02-ProfilePage.html" class="author-name fn">
						<div class="author-title">
							James Spiegel <svg class="olymp-dropdown-arrow-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use>
							</svg>
						</div>
						<span class="author-subtitle">SPACE COWBOY</span>
					</a>
				</div>
			</div>

			<div class="ui-block-title ui-block-title-small">
				<h6 class="title">MAIN SECTIONS</h6>
			</div>

			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						<svg class="olymp-close-icon left-menu-icon">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
						</svg>
						<span class="left-menu-title">Collapse Menu</span>
					</a>
				</li>
				<li>
					<a href="mobile-index.html">
						<svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="NEWSFEED">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use>
						</svg>
						<span class="left-menu-title">Newsfeed</span>
					</a>
				</li>
				<li>
					<a href="Mobile-28-YourAccount-PersonalInformation.html">
						<svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="FAV PAGE">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
						</svg>
						<span class="left-menu-title">Fav Pages Feed</span>
					</a>
				</li>
				<li>
					<a href="mobile-29-YourAccount-AccountSettings.html">
						<svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="FRIEND GROUPS">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
						</svg>
						<span class="left-menu-title">Friend Groups</span>
					</a>
				</li>
				<li>
					<a href="Mobile-30-YourAccount-ChangePassword.html">
						<svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="MUSIC&PLAYLISTS">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-headphones-icon"></use>
						</svg>
						<span class="left-menu-title">Music & Playlists</span>
					</a>
				</li>
				<li>
					<a href="Mobile-31-YourAccount-HobbiesAndInterests.html">
						<svg class="olymp-weather-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="WEATHER APP">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-weather-icon"></use>
						</svg>
						<span class="left-menu-title">Weather App</span>
					</a>
				</li>
				<li>
					<a href="Mobile-32-YourAccount-EducationAndEmployement.html">
						<svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="CALENDAR AND EVENTS">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
						</svg>
						<span class="left-menu-title">Calendar and Events</span>
					</a>
				</li>
				<li>
					<a href="Mobile-33-YourAccount-Notifications.html">
						<svg class="olymp-badge-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Community Badges">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-badge-icon"></use>
						</svg>
						<span class="left-menu-title">Community Badges</span>
					</a>
				</li>
				<li>
					<a href="Mobile-34-YourAccount-ChatMessages.html">
						<svg class="olymp-cupcake-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Friends Birthdays">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-cupcake-icon"></use>
						</svg>
						<span class="left-menu-title">Friends Birthdays</span>
					</a>
				</li>
				<li>
					<a href="Mobile-35-YourAccount-FriendsRequests.html">
						<svg class="olymp-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="Account Stats">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-stats-icon"></use>
						</svg>
						<span class="left-menu-title">Account Stats</span>
					</a>
				</li>
				<li>
					<a href="#">
						<svg class="olymp-manage-widgets-icon left-menu-icon" data-toggle="tooltip"
							data-placement="right" data-original-title="Manage Widgets">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-manage-widgets-icon"></use>
						</svg>
						<span class="left-menu-title">Manage Widgets</span>
					</a>
				</li>
			</ul>

			<div class="ui-block-title ui-block-title-small">
				<h6 class="title">YOUR ACCOUNT</h6>
			</div>

			<ul class="account-settings">
				<li>
					<a href="#">

						<svg class="olymp-menu-icon">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
						</svg>

						<span>Profile Settings</span>
					</a>
				</li>
				<li>
					<a href="#">
						<svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
							data-original-title="FAV PAGE">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
						</svg>

						<span>Create Fav Page</span>
					</a>
				</li>
				<li>
					<a href="#">
						<svg class="olymp-logout-icon">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-logout-icon"></use>
						</svg>

						<span>Log Out</span>
					</a>
				</li>
			</ul>

			<div class="ui-block-title ui-block-title-small">
				<h6 class="title">About G C T</h6>
			</div>

			<ul class="about-gct">
				<li>
					<a href="#">
						<span>Terms and Conditions</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span>FAQs</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span>Careers</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span>Contact</span>
					</a>
				</li>
			</ul>

		</div>
	</div>
</div>

<!-- ... end Fixed Sidebar Left -->