<!-- Fixed Sidebar Right -->

<div class="fixed-sidebar right">
	<div class="fixed-sidebar-right sidebar--small" id="sidebar-right">

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="chat-users" id="chatUsers"></ul>
		</div>

		<div class="search-friend inline-items">
			<a href="javascript:;" class="js-sidebar-open">
				<svg class="olymp-menu-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
				</svg>
			</a>
		</div>

		<a href="javascript:;" class="olympus-chat inline-items js-chat-open">
			<svg class="olymp-chat---messages-icon">
				<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
			</svg>
		</a>

	</div>
</div>

<!-- ... end Fixed Sidebar Right -->


<!-- Window-popup-CHAT for responsive min-width: 768px -->

<div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog"
	aria-labelledby="popup-chat-responsive" aria-hidden="true" style="height: 500px;">

	<div class="modal-content" style="height: 500px;">
		<div class="modal-header">
			<span class="icon-status online"></span>
			<h6 class="title">Chat</h6>
			<div class="more">
				<svg class="olymp-little-delete js-chat-open">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
				</svg>
			</div>
		</div>
		<div class="modal-body">
			<div class="mCustomScrollbar" style="max-height: 400px; min-height: 400px;">
				<div class="col-md-12 loadingChat">
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<center>
								<img src="/public/img/loadingg.gif" style="width: 70px" />
							</center>
						</div>
						<div class="col-md-4"></div>
					</div>
				</div>
				<ul class="notification-list chat-message chat-message-field userChatBoxList"></ul>
			</div>

			<form class="need-validation">
				<div class="form-group" style="height: 40px; overflow: auto">
					<input type="hidden" id="friendId" class="form-control" />
					<textarea class="form-control userMessageBox1" placeholder="Press enter to send..."
						rows="2"></textarea>
				</div>
			</form>
		</div>
	</div>

</div>

<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->