<!-- Fixed Sidebar Right -->

<div class="fixed-sidebar right">
	<div class="fixed-sidebar-right sidebar--small" id="sidebar-right">

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="chat-users" id="chatUsers"></ul>
		</div>

		<div class="search-friend inline-items">
			<a href="javascript:;" class="js-sidebar-open">
				<svg class="olymp-menu-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
				</svg>
			</a>
		</div>

		<a href="javascript:;" class="olympus-chat inline-items js-chat-open">
			<svg class="olymp-chat---messages-icon">
				<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
			</svg>
		</a>

	</div>
</div>

<!-- ... end Fixed Sidebar Right -->

<script src="/public/js/user/getActiveFriends.js"></script>