<% extend ('../../../mainLayout')%>
<%- include('../../../shared/_friend_profile')%>

<div class="container">
	<div class="row">

		<!-- Main Content -->

		<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			<div class="row" id="loadingPosts">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<center>
						<img src="/public/img/loadingg.gif" style="width: 70px" />
					</center>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div id="newsfeed-items-grid">

			</div>

			<a id="load-more-button" href="javascript:;" class="btn btn-control btn-more"
				data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>
		</div>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Profile Intro</h6>
				</div>
				<div class="ui-block-content">
					<!-- W-Personal-Info -->
					<ul class="widget w-personal-info item-block">
						<li>
							<span class="title">About Me:</span>
							<span class="text"><%= friend.twitter.description %></span>
						</li>
					</ul>
					<!-- .. end W-Personal-Info -->
				</div>
			</div>
		</div>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Last Photos</h6>
				</div>
				<div class="ui-block-content">
					<!-- W-Latest-Photo -->
					<ul class="widget w-last-photo js-zoom-gallery" id="friendLastPhotos"></ul>
					<!-- .. end W-Latest-Photo -->
				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title" id="friendProfileFriendCount">Friends (0)</h6>
				</div>
				<div class="ui-block-content">

					<div class="col-md-12" id="loadingFriendProfileFriends">
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<center>
									<img src="/public/img/loadingg.gif" style="width: 70px" />
								</center>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
					<!-- W-Faved-Page -->
					<ul class="widget w-faved-page js-zoom-gallery" id="friendProfileFriendList"></ul>
					<!-- .. end W-Faved-Page -->
				</div>
			</div>
			<!-- ... end Right Sidebar -->
		</div>
	</div>
</div>

<script src="/public/js/friend/myFriendTimeLine.js"></script>
<script src="/public/js/friend/friendsOfFriend.js"></script>