<% extend ('../../../mainLayout')%>
<%- include('../../../shared/_friend_profile')%>

<div class="container">
	<div class="row">

		<!-- Main Content -->

		<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			<input type="hidden" class="form-control" id="friendId" value="<%= friend.id %>">
			<div class="row" id="loadingPosts">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<center>
						<img src="/public/img/loadingg.gif" style="width: 70px" />
					</center>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div id="newsfeed-items-grid">

			</div>

			<a id="load-more-button" href="javascript:;" class="btn btn-control btn-more"
				data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>
		</div>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Profile Intro</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Personal-Info -->

					<ul class="widget w-personal-info item-block">
						<li>
							<span class="title">About Me:</span>
							<span class="text"><%= friend.twitter.description %></span>
						</li>
						<li>
							<span class="title">Favourite TV Shows:</span>
							<span class="text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found,
								American Guy.</span>
						</li>
						<li>
							<span class="title">Favourite Music Bands / Artists:</span>
							<span class="text">Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a
								Revenge.</span>
						</li>
					</ul>

					<!-- .. end W-Personal-Info -->
					<!-- W-Socials -->

					<div class="widget w-socials">
						<h6 class="title">Other Social Networks:</h6>
						<a href="javascript:;" class="social-item bg-facebook">
							<i class="fab fa-facebook-f" aria-hidden="true"></i>
							Facebook
						</a>
						<a href="javascript:;" class="social-item bg-twitter">
							<i class="fab fa-twitter" aria-hidden="true"></i>
							Twitter
						</a>
						<a href="javascript:;" class="social-item bg-dribbble">
							<i class="fab fa-dribbble" aria-hidden="true"></i>
							Dribbble
						</a>
					</div>


					<!-- ... end W-Socials -->
				</div>
			</div>


			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Last Videos</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Latest-Video -->

					<ul class="widget w-last-video">
						<li>
							<a href="https://vimeo.com/ondemand/viewfromabluemoon4k/147865858"
								class="play-video play-video--small">
								<svg class="olymp-play-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-play-icon"></use>
								</svg>
							</a>
							<img src="/public/img/video8.jpg" alt="video">
							<div class="video-content">
								<div class="title">System of a Revenge - Hypnotize...</div>
								<time class="published" datetime="2017-03-24T18:18">3:25</time>
							</div>
							<div class="overlay"></div>
						</li>
						<li>
							<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video play-video--small">
								<svg class="olymp-play-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-play-icon"></use>
								</svg>
							</a>
							<img src="/public/img/video7.jpg" alt="video">
							<div class="video-content">
								<div class="title">Green Goo - Live at Dan’s Arena</div>
								<time class="published" datetime="2017-03-24T18:18">5:48</time>
							</div>
							<div class="overlay"></div>
						</li>
					</ul>

					<!-- .. end W-Latest-Video -->
				</div>
			</div>

		</div>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Last Photos</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Latest-Photo -->

					<ul class="widget w-last-photo js-zoom-gallery">
						<li>
							<a href="/public/img/last-photo10-large.jpg">
								<img src="/public/img/last-photo10-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot11-large.jpg">
								<img src="/public/img/last-phot11-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot12-large.jpg">
								<img src="/public/img/last-phot12-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot13-large.jpg">
								<img src="/public/img/last-phot13-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot14-large.jpg">
								<img src="/public/img/last-phot14-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot15-large.jpg">
								<img src="/public/img/last-phot15-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot16-large.jpg">
								<img src="/public/img/last-phot16-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot17-large.jpg">
								<img src="/public/img/last-phot17-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot18-large.jpg">
								<img src="/public/img/last-phot18-large.jpg" alt="photo">
							</a>
						</li>
					</ul>


					<!-- .. end W-Latest-Photo -->
				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Friends (86)</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Faved-Page -->

					<ul class="widget w-faved-page js-zoom-gallery">
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar38-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar24-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar36-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar35-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar34-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar33-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar32-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar31-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar30-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar29-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar28-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar27-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar26-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar25-sm.jpg" alt="user">
							</a>
						</li>
						<li class="all-users">
							<a href="javascript:;">+74</a>
						</li>
					</ul>

					<!-- .. end W-Faved-Page -->
				</div>
			</div>


			<!-- ... end Right Sidebar -->

		</div>
	</div>
</div>


<script src="/public/js/myFriendTimeLine.js"></script>