<% extend ('../../mainLayout')%>


<%- include('../../shared/_user_profile')%>
<div class="container">
	<div class="row">

		<!-- Main Content -->

		<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			<div class="row" id="loadingPosts">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<center>
						<img src="/public/img/loadingg.gif" style="width: 70px" />
					</center>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div id="newsfeed-items-grid">

			</div>

			<a id="load-more-button" href="javascript:;" class="btn btn-control btn-more"
				data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>
		</div>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Profile Intro</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Personal-Info -->

					<ul class="widget w-personal-info item-block">
						<li>
							<span class="title">About Me:</span>
							<span class="text"><%= user.twitter.description %></span>
						</li>
						<li>
							<span class="title">Favourite TV Shows:</span>
							<span class="text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found,
								American Guy.</span>
						</li>
						<li>
							<span class="title">Favourite Music Bands / Artists:</span>
							<span class="text">Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a
								Revenge.</span>
						</li>
					</ul>

					<!-- .. end W-Personal-Info -->
					<!-- W-Socials -->

					<div class="widget w-socials">
						<h6 class="title">Other Social Networks:</h6>
						<a href="javascript:;" class="social-item bg-facebook">
							<i class="fab fa-facebook-f" aria-hidden="true"></i>
							Facebook
						</a>
						<a href="javascript:;" class="social-item bg-twitter">
							<i class="fab fa-twitter" aria-hidden="true"></i>
							Twitter
						</a>
						<a href="javascript:;" class="social-item bg-dribbble">
							<i class="fab fa-dribbble" aria-hidden="true"></i>
							Dribbble
						</a>
					</div>


					<!-- ... end W-Socials -->
				</div>
			</div>


			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Last Videos</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Latest-Video -->

					<ul class="widget w-last-video">
						<li>
							<a href="https://vimeo.com/ondemand/viewfromabluemoon4k/147865858"
								class="play-video play-video--small">
								<svg class="olymp-play-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-play-icon"></use>
								</svg>
							</a>
							<img src="/public/img/video8.jpg" alt="video">
							<div class="video-content">
								<div class="title">System of a Revenge - Hypnotize...</div>
								<time class="published" datetime="2017-03-24T18:18">3:25</time>
							</div>
							<div class="overlay"></div>
						</li>
						<li>
							<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video play-video--small">
								<svg class="olymp-play-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-play-icon"></use>
								</svg>
							</a>
							<img src="/public/img/video7.jpg" alt="video">
							<div class="video-content">
								<div class="title">Green Goo - Live at Dan’s Arena</div>
								<time class="published" datetime="2017-03-24T18:18">5:48</time>
							</div>
							<div class="overlay"></div>
						</li>
					</ul>

					<!-- .. end W-Latest-Video -->
				</div>
			</div>

		</div>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Last Photos</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Latest-Photo -->

					<ul class="widget w-last-photo js-zoom-gallery">
						<li>
							<a href="/public/img/last-photo10-large.jpg">
								<img src="/public/img/last-photo10-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot11-large.jpg">
								<img src="/public/img/last-phot11-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot12-large.jpg">
								<img src="/public/img/last-phot12-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot13-large.jpg">
								<img src="/public/img/last-phot13-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot14-large.jpg">
								<img src="/public/img/last-phot14-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot15-large.jpg">
								<img src="/public/img/last-phot15-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot16-large.jpg">
								<img src="/public/img/last-phot16-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot17-large.jpg">
								<img src="/public/img/last-phot17-large.jpg" alt="photo">
							</a>
						</li>
						<li>
							<a href="/public/img/last-phot18-large.jpg">
								<img src="/public/img/last-phot18-large.jpg" alt="photo">
							</a>
						</li>
					</ul>


					<!-- .. end W-Latest-Photo -->
				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Friends (86)</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Faved-Page -->

					<ul class="widget w-faved-page js-zoom-gallery">
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar38-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar24-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar36-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar35-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar34-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar33-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar32-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar31-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar30-sm.jpg" alt="author">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar29-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar28-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar27-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar26-sm.jpg" alt="user">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/public/img/avatar25-sm.jpg" alt="user">
							</a>
						</li>
						<li class="all-users">
							<a href="javascript:;">+74</a>
						</li>
					</ul>

					<!-- .. end W-Faved-Page -->
				</div>
			</div>


			<!-- ... end Right Sidebar -->

		</div>
	</div>

	<!-- Window-popup Update Header Photo -->

	<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo"
		aria-hidden="true">
		<div class="modal-dialog window-popup update-header-photo" role="document">
			<div class="modal-content">
				<a href="javascript:;" class="close icon-close" data-dismiss="modal" aria-label="Close">
					<svg class="olymp-close-icon">
						<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
					</svg>
				</a>

				<div class="modal-header">
					<h6 class="title">Update Header Photo</h6>
				</div>

				<div class="modal-body">
					<a href="javascript:;" class="upload-photo-item">
						<svg class="olymp-computer-icon">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
						</svg>

						<h6>Upload Photo</h6>
						<span>Browse your computer.</span>
					</a>

					<a href="javascript:;" class="upload-photo-item" data-toggle="modal"
						data-target="#choose-from-my-photo">

						<svg class="olymp-photos-icon">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-photos-icon"></use>
						</svg>

						<h6>Choose from My Photos</h6>
						<span>Choose from your uploaded photos</span>
					</a>
				</div>
			</div>
		</div>
	</div>


	<!-- ... end Window-popup Update Header Photo -->

	<!-- Window-popup Choose from my Photo -->

	<div class="modal fade" id="choose-from-my-photo" tabindex="-1" role="dialog" aria-labelledby="choose-from-my-photo"
		aria-hidden="true">
		<div class="modal-dialog window-popup choose-from-my-photo" role="document">

			<div class="modal-content">
				<a href="javascript:;" class="close icon-close" data-dismiss="modal" aria-label="Close">
					<svg class="olymp-close-icon">
						<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
					</svg>
				</a>
				<div class="modal-header">
					<h6 class="title">Choose from My Photos</h6>

					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
								<svg class="olymp-photos-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-photos-icon"></use>
								</svg>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">
								<svg class="olymp-albums-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-albums-icon"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>

				<div class="modal-body">
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">

							<div class="choose-photo-item" data-mh="choose-item">
								<div class="radio">
									<label class="custom-radio">
										<img src="/public/img/choose-photo1.jpg" alt="photo">
										<input type="radio" name="optionsRadios">
									</label>
								</div>
							</div>
							<div class="choose-photo-item" data-mh="choose-item">
								<div class="radio">
									<label class="custom-radio">
										<img src="/public/img/choose-photo2.jpg" alt="photo">
										<input type="radio" name="optionsRadios">
									</label>
								</div>
							</div>
							<div class="choose-photo-item" data-mh="choose-item">
								<div class="radio">
									<label class="custom-radio">
										<img src="/public/img/choose-photo3.jpg" alt="photo">
										<input type="radio" name="optionsRadios">
									</label>
								</div>
							</div>

							<div class="choose-photo-item" data-mh="choose-item">
								<div class="radio">
									<label class="custom-radio">
										<img src="/public/img/choose-photo4.jpg" alt="photo">
										<input type="radio" name="optionsRadios">
									</label>
								</div>
							</div>
							<div class="choose-photo-item" data-mh="choose-item">
								<div class="radio">
									<label class="custom-radio">
										<img src="/public/img/choose-photo5.jpg" alt="photo">
										<input type="radio" name="optionsRadios">
									</label>
								</div>
							</div>
							<div class="choose-photo-item" data-mh="choose-item">
								<div class="radio">
									<label class="custom-radio">
										<img src="/public/img/choose-photo6.jpg" alt="photo">
										<input type="radio" name="optionsRadios">
									</label>
								</div>
							</div>

							<div class="choose-photo-item" data-mh="choose-item">
								<div class="radio">
									<label class="custom-radio">
										<img src="/public/img/choose-photo7.jpg" alt="photo">
										<input type="radio" name="optionsRadios">
									</label>
								</div>
							</div>
							<div class="choose-photo-item" data-mh="choose-item">
								<div class="radio">
									<label class="custom-radio">
										<img src="/public/img/choose-photo8.jpg" alt="photo">
										<input type="radio" name="optionsRadios">
									</label>
								</div>
							</div>
							<div class="choose-photo-item" data-mh="choose-item">
								<div class="radio">
									<label class="custom-radio">
										<img src="/public/img/choose-photo9.jpg" alt="photo">
										<input type="radio" name="optionsRadios">
									</label>
								</div>
							</div>


							<a href="javascript:;" class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
							<a href="javascript:;" class="btn btn-primary btn-lg btn--half-width">Confirm Photo</a>

						</div>
						<div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">

							<div class="choose-photo-item" data-mh="choose-item">
								<figure>
									<img src="/public/img/choose-photo10.jpg" alt="photo">
									<figcaption>
										<a href="javascript:;">South America Vacations</a>
										<span>Last Added: 2 hours ago</span>
									</figcaption>
								</figure>
							</div>
							<div class="choose-photo-item" data-mh="choose-item">
								<figure>
									<img src="/public/img/choose-photo11.jpg" alt="photo">
									<figcaption>
										<a href="javascript:;">Photoshoot Summer 2016</a>
										<span>Last Added: 5 weeks ago</span>
									</figcaption>
								</figure>
							</div>
							<div class="choose-photo-item" data-mh="choose-item">
								<figure>
									<img src="/public/img/choose-photo12.jpg" alt="photo">
									<figcaption>
										<a href="javascript:;">Amazing Street Food</a>
										<span>Last Added: 6 mins ago</span>
									</figcaption>
								</figure>
							</div>

							<div class="choose-photo-item" data-mh="choose-item">
								<figure>
									<img src="/public/img/choose-photo13.jpg" alt="photo">
									<figcaption>
										<a href="javascript:;">Graffity & Street Art</a>
										<span>Last Added: 16 hours ago</span>
									</figcaption>
								</figure>
							</div>
							<div class="choose-photo-item" data-mh="choose-item">
								<figure>
									<img src="/public/img/choose-photo14.jpg" alt="photo">
									<figcaption>
										<a href="javascript:;">Amazing Landscapes</a>
										<span>Last Added: 13 mins ago</span>
									</figcaption>
								</figure>
							</div>
							<div class="choose-photo-item" data-mh="choose-item">
								<figure>
									<img src="/public/img/choose-photo15.jpg" alt="photo">
									<figcaption>
										<a href="javascript:;">The Majestic Canyon</a>
										<span>Last Added: 57 mins ago</span>
									</figcaption>
								</figure>
							</div>


							<a href="javascript:;" class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
							<a href="javascript:;" class="btn btn-primary btn-lg disabled btn--half-width">Confirm
								Photo</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- ... end Window-popup Choose from my Photo -->

	<!-- Playlist Popup -->

	<div class="window-popup playlist-popup" tabindex="-1" role="dialog" aria-labelledby="playlist-popup"
		aria-hidden="true">

		<a href="javascript:;" class="icon-close js-close-popup">
			<svg class="olymp-close-icon">
				<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
			</svg>
		</a>

		<div class="mCustomScrollbar">
			<table class="playlist-popup-table">

				<thead>

					<tr>

						<th class="play">
							PLAY
						</th>

						<th class="cover">
							COVER
						</th>

						<th class="song-artist">
							SONG AND ARTIST
						</th>

						<th class="album">
							ALBUM
						</th>

						<th class="released">
							RELEASED
						</th>

						<th class="duration">
							DURATION
						</th>

						<th class="spotify">
							GET IT ON SPOTIFY
						</th>

						<th class="remove">
							REMOVE
						</th>
					</tr>

				</thead>

				<tbody>
					<tr>
						<td class="play">
							<a href="javascript:;" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use
										xlink:href="/public/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
									</use>
								</svg>
							</a>
						</td>
						<td class="cover">
							<div class="playlist-thumb">
								<img src="/public/img/playlist19.jpg" alt="thumb-composition">
							</div>
						</td>
						<td class="song-artist">
							<div class="composition">
								<a href="javascript:;" class="composition-name">We Can Be Heroes</a>
								<a href="javascript:;" class="composition-author">Jason Bowie</a>
							</div>
						</td>
						<td class="album">
							<a href="javascript:;" class="album-composition">Ziggy Firedust</a>
						</td>
						<td class="released">
							<div class="release-year">2014</div>
						</td>
						<td class="duration">
							<div class="composition-time">
								<time class="published" datetime="2017-03-24T18:18">6:17</time>
							</div>
						</td>
						<td class="spotify">
							<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
						</td>
						<td class="remove">
							<a href="javascript:;" class="remove-icon">
								<svg class="olymp-close-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
								</svg>
							</a>
						</td>
					</tr>

					<tr>
						<td class="play">
							<a href="javascript:;" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use
										xlink:href="/public/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
									</use>
								</svg>
							</a>
						</td>
						<td class="cover">
							<div class="playlist-thumb">
								<img src="/public/img/playlist6.jpg" alt="thumb-composition">
							</div>
						</td>
						<td class="song-artist">
							<div class="composition">
								<a href="javascript:;" class="composition-name">The Past Starts Slow and Ends</a>
								<a href="javascript:;" class="composition-author">System of a Revenge</a>
							</div>
						</td>
						<td class="album">
							<a href="javascript:;" class="album-composition">Wonderize</a>
						</td>
						<td class="released">
							<div class="release-year">2014</div>
						</td>
						<td class="duration">
							<div class="composition-time">
								<time class="published" datetime="2017-03-24T18:18">6:17</time>
							</div>
						</td>
						<td class="spotify">
							<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
						</td>
						<td class="remove">
							<a href="javascript:;" class="remove-icon">
								<svg class="olymp-close-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
								</svg>
							</a>
						</td>
					</tr>

					<tr>
						<td class="play">
							<a href="javascript:;" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use
										xlink:href="/public/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
									</use>
								</svg>
							</a>
						</td>
						<td class="cover">
							<div class="playlist-thumb">
								<img src="/public/img/playlist7.jpg" alt="thumb-composition">
							</div>
						</td>
						<td class="song-artist">
							<div class="composition">
								<a href="javascript:;" class="composition-name">The Pretender</a>
								<a href="javascript:;" class="composition-author">Kung Fighters</a>
							</div>
						</td>
						<td class="album">
							<a href="javascript:;" class="album-composition">Warping Lights</a>
						</td>
						<td class="released">
							<div class="release-year">2014</div>
						</td>
						<td class="duration">
							<div class="composition-time">
								<time class="published" datetime="2017-03-24T18:18">6:17</time>
							</div>
						</td>
						<td class="spotify">
							<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
						</td>
						<td class="remove">
							<a href="javascript:;" class="remove-icon">
								<svg class="olymp-close-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
								</svg>
							</a>
						</td>
					</tr>

					<tr>
						<td class="play">
							<a href="javascript:;" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use
										xlink:href="/public/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
									</use>
								</svg>
							</a>
						</td>
						<td class="cover">
							<div class="playlist-thumb">
								<img src="/public/img/playlist8.jpg" alt="thumb-composition">
							</div>
						</td>
						<td class="song-artist">
							<div class="composition">
								<a href="javascript:;" class="composition-name">Seven Nation Army</a>
								<a href="javascript:;" class="composition-author">The Black Stripes</a>
							</div>
						</td>
						<td class="album">
							<a href="javascript:;" class="album-composition ">Icky Strung (LIVE at Cube Garden)</a>
						</td>
						<td class="released">
							<div class="release-year">2014</div>
						</td>
						<td class="duration">
							<div class="composition-time">
								<time class="published" datetime="2017-03-24T18:18">6:17</time>
							</div>
						</td>
						<td class="spotify">
							<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
						</td>
						<td class="remove">
							<a href="javascript:;" class="remove-icon">
								<svg class="olymp-close-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
								</svg>
							</a>
						</td>
					</tr>

					<tr>
						<td class="play">
							<a href="javascript:;" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use
										xlink:href="/public/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
									</use>
								</svg>
							</a>
						</td>
						<td class="cover">
							<div class="playlist-thumb">
								<img src="/public/img/playlist9.jpg" alt="thumb-composition">
							</div>
						</td>
						<td class="song-artist">
							<div class="composition">
								<a href="javascript:;" class="composition-name">Leap of Faith</a>
								<a href="javascript:;" class="composition-author">Eden Artifact</a>
							</div>
						</td>
						<td class="album">
							<a href="javascript:;" class="album-composition">The Assassins’s Soundtrack</a>
						</td>
						<td class="released">
							<div class="release-year">2014</div>
						</td>
						<td class="duration">
							<div class="composition-time">
								<time class="published" datetime="2017-03-24T18:18">6:17</time>
							</div>
						</td>
						<td class="spotify">
							<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
						</td>
						<td class="remove">
							<a href="javascript:;" class="remove-icon">
								<svg class="olymp-close-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
								</svg>
							</a>
						</td>
					</tr>

					<tr>
						<td class="play">
							<a href="javascript:;" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use
										xlink:href="/public/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
									</use>
								</svg>
							</a>
						</td>
						<td class="cover">
							<div class="playlist-thumb">
								<img src="/public/img/playlist10.jpg" alt="thumb-composition">
							</div>
						</td>
						<td class="song-artist">
							<div class="composition">
								<a href="javascript:;" class="composition-name">Killer Queen</a>
								<a href="javascript:;" class="composition-author">Archiduke</a>
							</div>
						</td>
						<td class="album">
							<a href="javascript:;" class="album-composition ">News of the Universe</a>
						</td>
						<td class="released">
							<div class="release-year">2014</div>
						</td>
						<td class="duration">
							<div class="composition-time">
								<time class="published" datetime="2017-03-24T18:18">6:17</time>
							</div>
						</td>
						<td class="spotify">
							<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
						</td>
						<td class="remove">
							<a href="javascript:;" class="remove-icon">
								<svg class="olymp-close-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
								</svg>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<audio id="mediaplayer" data-showplaylist="true">
			<source src="/public/mp3/Twice.mp3" title="Track 1" data-poster="track1.png" type="audio/mpeg">
			<source src="/public/mp3/Twice.mp3" title="Track 2" data-poster="track2.png" type="audio/mpeg">
			<source src="/public/mp3/Twice.mp3" title="Track 3" data-poster="track3.png" type="audio/mpeg">
			<source src="/public/mp3/Twice.mp3" title="Track 4" data-poster="track4.png" type="audio/mpeg">
		</audio>

	</div>

	<!-- ... end Playlist Popup -->


	<a class="back-to-top" href="javascript:;">
		<img src="/public/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
	</a>




	<!-- Window-popup-CHAT for responsive min-width: 768px -->

	<div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog"
		aria-labelledby="popup-chat-responsive" aria-hidden="true">

		<div class="modal-content">
			<div class="modal-header">
				<span class="icon-status online"></span>
				<h6 class="title">Chat</h6>
				<div class="more">
					<svg class="olymp-three-dots-icon">
						<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
					</svg>
					<svg class="olymp-little-delete js-chat-open">
						<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
					</svg>
				</div>
			</div>
			<div class="modal-body">
				<div class="mCustomScrollbar">
					<ul class="notification-list chat-message chat-message-field">
						<li>
							<div class="author-thumb">
								<img src="/public/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
							</div>
							<div class="notification-event">
								<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow!
									I’m
									gonna be handling the gifts and Jake’s gonna get the drinks</span>
								<span class="notification-date"><time class="entry-date updated"
										datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
							</div>
						</li>

						<li>
							<div class="author-thumb">
								<img src="/public/img/author-page.jpg" alt="author" class="mCS_img_loaded">
							</div>
							<div class="notification-event">
								<span class="chat-message-item">Don’t worry Mathilda!</span>
								<span class="chat-message-item">I already bought everything</span>
								<span class="notification-date"><time class="entry-date updated"
										datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
							</div>
						</li>

						<li>
							<div class="author-thumb">
								<img src="/public/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
							</div>
							<div class="notification-event">
								<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow!
									I’m
									gonna be handling the gifts and Jake’s gonna get the drinks</span>
								<span class="notification-date"><time class="entry-date updated"
										datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
							</div>
						</li>
					</ul>
				</div>

				<form class="need-validation">

					<div class="form-group">
						<textarea class="form-control" placeholder="Press enter to post..."></textarea>
						<div class="add-options-message">
							<a href="javascript:;" class="options-message">
								<svg class="olymp-computer-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
								</svg>
							</a>
							<div class="options-message smile-block">

								<svg class="olymp-happy-sticker-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-sticker-icon">
									</use>
								</svg>

								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat1.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat2.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat3.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat4.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat5.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat6.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat7.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat8.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat9.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat10.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat11.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat12.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat13.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat14.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat15.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat16.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat17.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat18.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat19.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat20.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat21.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat22.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat23.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat24.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat25.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat26.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<img src="/public/img/icon-chat27.png" alt="icon">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>

	</div>
</div>


<script src="/public/js/myTimeLine.js"></script>