<% extend ('../layout')%>

<div class="main-header main-landing">

	<div class="content-bg-wrap bg-landing"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-6 m-auto col-md-12 col-sm-12 col-12">
				<div class="main-header-content">

					<a href="#" class="logo">
						<div class="img-wrap">
							<img src="/public/img/logo-landing.png" alt="Olympus">
						</div>
						<div class="title-block">
							<h6 class="logo-title">olympus</h6>
							<div class="sub-title">SOCIAL NETWORK</div>
						</div>
					</a>

					<h1>The Most Complete Social Network is Here!</h1>
					<div class="row" id="loading" style="display:none;">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<img src="/public/img/loading_1.gif" />
						</div>
						<div class="col-md-2"></div>
					</div>
					<div class="row" id="mainAuth">
						<div class="col-md-12" id="upperFacebook">
							<a id="facebookLogin" href="#" class="btn btn-purple btn-sm">CONNECT YOUR FACEBOOK
								ACCOUNT</a>
						</div>
						<div class="col-md-12" id="upperTwitter">
							<a id="twitterLogin" href="#" class="btn btn-purple btn-sm">CONNECT YOUR TWITTER ACCOUNT</a>
						</div>
					</div>
					<div class="row" id="username" style="display:none;">
						<div class="jumbotron" style="background:white; width: 100%;">
							<form method="post" action="/username" style="width: 100%;">
								<div class="col-md-12">
									<h5>Your detail please</h5>
									<div class="form-group">
										<input class="form-control" type="text" name="firstname"
											placeholder="Enter your first name" required />
									</div>
									<div class="form-group">
											<input class="form-control" type="text" name="lastname"
												placeholder="Enter your last name" required />
									</div>
									<div class="form-group">
										<input type="submit" value="CONTINUE" class="btn btn-block btn-primary"/>
									</div>
	
								</div>
							</form>
						</div>
					</div>
					<div class="form-group form-success-gone" style="display: none;" id="mainError">
						<div class="alert alert-danger" role="alert">
							Something Went Wrong, please try again later.
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<img class="img-bottom" src="/public/img/group-bottom.png" alt="friends">
	<img class="img-rocket" src="/public/img/rocket.png" alt="rocket">
</div>