<% extend ('../layout')%>
<div class="main-header main-landing">

    <div class="content-bg-wrap bg-landing"></div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 m-auto col-md-12 col-sm-12 col-12">
                <div class="main-header-content">

                    <a href="/" class="logo">
                        <div class="img-wrap">
                            <img src="/public/img/logo GCT.png" alt="olympus" style="width:90px; height:90px">
                        </div>
                        <div class="title-block">
                            <h6 class="logo-title"><b>GCT</b></h6>
                            <div class="sub-title">SOCIAL NETWORK</div>
                            <div class="sub-title"></div>
                        </div>
                    </a>


                    <h1>The Most Complete Social Network is Here!</h1>
                    <div class="jumbotron" style="background-color: white;">
                        <h2>Terms of Service</h2>
                        <br />


                        <h4>Welcome to <b>GCT</b>!</h4>
                        <br />
                        <p style="color: black; text-align: left;"><b>GCT</b> builds technologies and services that
                            enable people to connect with each other,
                            build
                            communities, and grow businesses. These Terms govern your use of <b>GCT</b>, Messenger, and
                            the
                            other products, features, apps, services, technologies, and software we offer (the
                            <b>GCT</b>
                            Products or Products), except where we expressly state that separate terms (and not these)
                            apply. These Products are provided to you by <b>GCT</b>, Inc.

                            We don’t charge you to use <b>GCT</b> or the other products and services covered by these
                            Terms.
                            Instead, businesses and organizations pay us to show you ads for their products and
                            services. By
                            using our Products, you agree that we can show you ads that we think will be relevant to you
                            and
                            your interests. We use your personal data to help determine which ads to show you.

                            We don’t sell your personal data to advertisers, and we don’t share information that
                            directly
                            identifies you (such as your name, email address or other contact information) with
                            advertisers
                            unless you give us specific permission. Instead, advertisers can tell us things like the
                            kind of
                            audience they want to see their ads, and we show those ads to people who may be interested.
                            We
                            provide advertisers with reports about the performance of their ads that help them
                            understand
                            how people are interacting with their content. See Section 2 below to learn more.

                            Our Data Policy explains how we collect and use your personal data to determine some of the
                            ads
                            you see and provide all of the other services described below. You can also go to your
                            settings
                            at any time to review the privacy choices you have about how we use your data.
                        </p>
                        <br />
                        <a href="/" style="font-weight: 500; font-size: 20px;">BACK TO HOME</a>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>