<% extend ('../../../mainLayout')%>

<!-- Main Header Account -->

<div class="main-header">
	<div class="content-bg-wrap bg-account"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>Your Account Dashboard</h1>
					<p>Welcome to your account dashboard! Here you’ll find everything you need to change your profile
						information, settings, read notifications and requests, view your latest messages, change your
						pasword and much
						more! Also you can create or manage your own favourite page, have fun!</p>
				</div>
			</div>
		</div>
	</div>
	<img class="img-bottom" src="/public/img/account-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Account -->



<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Account Settings</h6>
				</div>
				<div class="ui-block-content">


					<!-- Personal Account Settings Form -->

					<form>
						<div class="row">

							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating is-select">
									<label class="control-label">Who Can Friend You?</label>
									<select class="selectpicker form-control">
										<option value="EO">Everyone</option>
										<option value="NO">No One</option>
									</select>
								</div>
							</div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating is-select">
									<label class="control-label">Who Can View Your Posts</label>
									<select class="selectpicker form-control">
										<option value="US">Friends Only</option>
										<option value="EO">Everyone</option>
									</select>
								</div>
							</div>

							<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="description-toggle">
									<div class="description-toggle-content">
										<div class="h6">Notifications Sound</div>
										<p>A sound will be played each time you receive a new activity notification</p>
									</div>

									<div class="togglebutton">
										<label>
											<input type="checkbox" checked="">
										</label>
									</div>
								</div>
								<div class="description-toggle">
									<div class="description-toggle-content">
										<div class="h6">Notifications Email</div>
										<p>We’ll send you an email to your account each time you receive a new activity
											notification</p>
									</div>

									<div class="togglebutton">
										<label>
											<input type="checkbox" checked="">
										</label>
									</div>
								</div>
								<div class="description-toggle">
									<div class="description-toggle-content">
										<div class="h6">Friend’s Birthdays</div>
										<p>Choose wheather or not receive notifications about your friend’s birthdays on
											your newsfeed</p>
									</div>

									<div class="togglebutton">
										<label>
											<input type="checkbox" checked="">
										</label>
									</div>
								</div>
								<div class="description-toggle">
									<div class="description-toggle-content">
										<div class="h6">Chat Message Sound</div>
										<p>A sound will be played each time you receive a new message on an inactive
											chat window</p>
									</div>

									<div class="togglebutton">
										<label>
											<input type="checkbox" checked="">
										</label>
									</div>
								</div>
							</div>

							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<button class="btn btn-secondary btn-lg full-width">Restore all Attributes</button>
							</div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<button class="btn btn-primary btn-lg full-width">Save all Changes</button>
							</div>
						</div>
					</form>

					<!-- ... end Personal Account Settings Form  -->

				</div>
			</div>
		</div>

		<div
			class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
			<div class="ui-block">

				<!-- Your Profile  -->

				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Your PROFILE</h6>
					</div>

					<div id="accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<h6 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne">
										Profile Settings
										<svg class="olymp-dropdown-arrow-icon">
											<use
												xlink:href="/public/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon">
											</use>
										</svg>
									</a>
								</h6>
							</div>

							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<ul class="your-profile-menu">
									<li>
										<a href="28-YourAccount-PersonalInformation.html">Personal Information</a>
									</li>
									<li>
										<a href="29-YourAccount-AccountSettings.html">Account Settings</a>
									</li>
									<li>
										<a href="30-YourAccount-ChangePassword.html">Change Password</a>
									</li>
									<li>
										<a href="31-YourAccount-HobbiesAndInterests.html">Hobbies and Interests</a>
									</li>
									<li>
										<a href="32-YourAccount-EducationAndEmployement.html">Education and
											Employement</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="ui-block-title">
						<a href="33-YourAccount-Notifications.html" class="h6 title">Notifications</a>
						<a href="javascript:;" class="items-round-little bg-primary">8</a>
					</div>
					<div class="ui-block-title">
						<a href="34-YourAccount-ChatMessages.html" class="h6 title">Chat / Messages</a>
					</div>
					<div class="ui-block-title">
						<a href="35-YourAccount-FriendsRequests.html" class="h6 title">Friend Requests</a>
						<a href="javascript:;" class="items-round-little bg-blue">4</a>
					</div>
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">FAVOURITE PAGE</h6>
					</div>
					<div class="ui-block-title">
						<a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Create Fav Page</a>
					</div>
					<div class="ui-block-title">
						<a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Fav Page Settings</a>
					</div>
				</div>

				<!-- ... end Your Profile  -->

			</div>
		</div>
	</div>
</div>

<!-- ... end Your Account Personal Information -->




<!-- Window-popup-CHAT for responsive min-width: 768px -->

<div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog"
	aria-labelledby="popup-chat-responsive" aria-hidden="true">

	<div class="modal-content">
		<div class="modal-header">
			<span class="icon-status online"></span>
			<h6 class="title">Chat</h6>
			<div class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
				<svg class="olymp-little-delete js-chat-open">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use>
				</svg>
			</div>
		</div>
		<div class="modal-body">
			<div class="mCustomScrollbar">
				<ul class="notification-list chat-message chat-message-field">
					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m
								gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="/public/img/author-page.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Don’t worry Mathilda!</span>
							<span class="chat-message-item">I already bought everything</span>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m
								gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>
				</ul>
			</div>

			<form class="need-validation">

				<div class="form-group">
					<textarea class="form-control" placeholder="Press enter to post..."></textarea>
					<div class="add-options-message">
						<a href="javascript:;" class="options-message">
							<svg class="olymp-computer-icon">
								<use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
							</svg>
						</a>
						<div class="options-message smile-block">

							<svg class="olymp-happy-sticker-icon">
								<use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use>
							</svg>

							<ul class="more-dropdown more-with-triangle triangle-bottom-right">
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat1.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat2.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat3.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat4.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat5.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat6.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat7.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat8.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat9.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat10.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat11.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat12.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat13.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat14.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat15.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat16.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat17.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat18.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat19.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat20.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat21.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat22.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat23.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat24.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat25.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat26.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat27.png" alt="icon">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>

</div>

<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->



<a class="back-to-top" href="javascript:;">
	<img src="/public/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>