<% extend ('../../../mainLayout')%>
<%- include('../../../shared/_user_profile')%>

<div class="container">
	<div class="row">

		<!-- Main Content -->

		<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			<div class="row" id="loadingPosts">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<center>
						<img src="/public/img/loadingg.gif" style="width: 70px" />
					</center>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div id="newsfeed-items-grid">

			</div>

			<a id="load-more-button" href="javascript:;" class="btn btn-control btn-more"
				data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>
		</div>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Profile Intro</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Personal-Info -->

					<ul class="widget w-personal-info item-block">
						<li>
							<span class="title">About Me:</span>
							<span class="text"><%= user.twitter.description %></span>
						</li>
					</ul>

					<!-- .. end W-Personal-Info -->
				</div>
			</div>

		</div>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Last Photos</h6>
				</div>
				<div class="ui-block-content">
					<!-- W-Latest-Photo -->
					<ul class="widget w-last-photo js-zoom-gallery" id="lastPhotos"></ul>
					<!-- .. end W-Latest-Photo -->
				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title" id="friendProfileCount">Friends (0)</h6>
				</div>
				<div class="ui-block-content">

					<div class="col-md-12" id="loadingProfileFriends">
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<center>
									<img src="/public/img/loadingg.gif" style="width: 70px" />
								</center>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>

					<!-- W-Faved-Page -->

					<ul class="widget w-faved-page js-zoom-gallery" id="profileFriendList"></ul>

					<!-- .. end W-Faved-Page -->
				</div>
			</div>


			<!-- ... end Right Sidebar -->

		</div>
	</div>
</div>

<!-- Window-popup Delete Post Confirmation -->
<div class="modal fade" id="delete-post" tabindex="-1" role="dialog" aria-labelledby="delete-post" aria-hidden="true">
	<div class="modal-dialog window-popup restore-password-popup" role="document">
		<div class="modal-content">
			<a href="javascript:;" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
				</svg>
			</a>
			<div class="modal-header">
				<h6 class="title">DELETE POST CONFIRMATION</h6>
			</div>
			<div class="modal-body">
				<form action="/user/deletePost" method="POST" id="deletePostForm">
					<p>Are you sure to delete this post?</p>
					<div class="form-group">
						<input type="hidden" class="form-control" name="deletePostId" id="deletePostId" />
					</div>
					<div class="btn-group-horizontal" style="width: 150px; float: right;">
						<a id="deleteClose" data-dismiss="modal" aria-label="Close" href="javascript:;"
							class="btn btn-primary" style="padding-top: 8px; padding-bottom: 8px;">CLOSE</a>
						<button id="deleteConfirm" class="btn btn-danger">DELETE</button>
						<img src="/public/img/loadingg.gif" style="width: 50px; display: none;" id="deleteLoading" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- End Window-popup Delete Post Confirmation -->

<script src="/public/js/user/myTimeLine.js"></script>
<script src="/public/js/user/friendlist.js"></script>