<% extend ('../../../mainLayout')%>

<!-- Main Header Account -->

<div class="main-header">
	<div class="content-bg-wrap bg-account"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>Your Account Dashboard</h1>
					<p>Welcome to your account dashboard! Here you’ll find everything you need to change your profile
						information, settings, read notifications and requests, view your latest messages, change your
						pasword and much
						more! Also you can create or manage your own favourite page, have fun!
					</p>
				</div>
			</div>
		</div>
	</div>
	<img class="img-bottom" src="/public/img/account-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Account -->



<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Account Settings</h6>
				</div>
				<div class="ui-block-content">
					<!-- Personal Account Settings Form -->
					<div class="row">

						<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
							<div class="form-group label-floating is-select">
								<label class="control-label">Who Can Friend You?</label>
								<select class="selectpicker form-control">
									<option value="EO">Everyone</option>
									<option value="NO">No One</option>
								</select>
							</div>
						</div>
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
							<div class="form-group label-floating is-select">
								<label class="control-label">Who Can View Your Posts</label>
								<select class="selectpicker form-control">
									<option value="US">Friends Only</option>
									<option value="EO">Everyone</option>
								</select>
							</div>
						</div>

						<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="description-toggle">
								<div class="description-toggle-content">
									<div class="h6">Notifications Sound</div>
									<p>A sound will be played each time you receive a new activity notification</p>
								</div>

								<div class="togglebutton">
									<label>
										<input type="checkbox" checked="" id="notificationSound">
									</label>
								</div>
							</div>
							<div class="description-toggle">
								<div class="description-toggle-content">
									<div class="h6">Chat Message Sound</div>
									<p>A sound will be played each time you receive a new message on an inactive
										chat window</p>
								</div>

								<div class="togglebutton">
									<label>
										<input type="checkbox" checked="" id="chatSound">
									</label>
								</div>
							</div>
						</div>

						<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
							<button id="restoreSetting" class="btn btn-secondary btn-lg full-width">
								Restore all Attributes
							</button>
						</div>
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
							<button id="saveSetting" class="btn btn-primary btn-lg full-width">
								Save all Changes
							</button>
						</div>
					</div>
					<!-- ... end Personal Account Settings Form  -->
				</div>
			</div>
		</div>

		<div
			class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
			<div class="ui-block">

				<!-- Your Profile  -->

				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Your PROFILE</h6>
					</div>

					<div id="accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<h6 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne">
										Profile Settings
										<svg class="olymp-dropdown-arrow-icon">
											<use
												xlink:href="/public/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon">
											</use>
										</svg>
									</a>
								</h6>
							</div>

							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<ul class="your-profile-menu">
									<li>
										<a href="28-YourAccount-PersonalInformation.html">
											Personal Information
										</a>
									</li>
									<li>
										<a href="29-YourAccount-AccountSettings.html">
											Account Settings
										</a>
									</li>
									<li>
										<a href="31-YourAccount-HobbiesAndInterests.html">
											Hobbies and Interests
										</a>
									</li>
									<li>
										<a href="32-YourAccount-EducationAndEmployement.html">
											Education and Employement
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="ui-block-title">
						<a href="/user/allnotifications" class="h6 title">Notifications</a>
						<a href="javascript:;" class="items-round-little bg-primary"
							id="profileSettingNotifications">0</a>
					</div>
					<div class="ui-block-title">
						<a href="/user/allchats" class="h6 title">Chat / Messages</a>
					</div>
				</div>
				<!-- ... end Your Profile  -->
			</div>
		</div>
	</div>
</div>

<!-- ... end Your Account Personal Information -->

<script>
	$(document).ready(function () {
		console.log("Profile Setting Page is ready");

		let soundSettings = localStorage.getItem("soundSettings");
		if (soundSettings === null || soundSettings === undefined) {
			soundSettings = {
				notificationSound: "on",
				chatSound: "on"
			};
		}
		else {
			soundSettings = JSON.parse(soundSettings);
		}

		console.log("Sound Setting is: ", soundSettings);

		$("#notificationSound").val(soundSettings.notificationSound);
		$("#chatSound").val(soundSettings.chatSound);

		if (soundSettings.notificationSound === "off") {
			$("#notificationSound").prop("checked", false);
		}
		if (soundSettings.chatSound === "off") {
			$("#chatSound").prop("checked", false);
		}

		$("#notificationSound").change(function () {
			const notificationSound = $("#notificationSound").val();
			console.log("Notification Sound: ", notificationSound);
			if (notificationSound === 'on') {
				$("#notificationSound").val("off");
			}
			else {
				$("#notificationSound").val("on");
			}
		});

		$("#chatSound").change(function () {
			const chatSound = $("#chatSound").val();
			console.log("Chat Sound: ", chatSound);
			if (chatSound === 'on') {
				$("#chatSound").val("off");
			}
			else {
				$("#chatSound").val("on");
			}
		});

		$("#restoreSetting").click(function (e) {
			e.preventDefault();
			$("#notificationSound").val("on");
			$("#chatSound").val("on");
			$("#chatSound").prop("checked", true);
			$("#notificationSound").prop("checked", true);
			soundSettings = {
				notificationSound: "on",
				chatSound: "on"
			};
			localStorage.setItem("soundSettings", JSON.stringify(soundSettings));
			window.location.reload();
		});

		$("#saveSetting").click(function (e) {
			e.preventDefault();
			const notificationSound = $("#notificationSound").val();
			const chatSound = $("#chatSound").val();
			console.log("Notification Sound: ", notificationSound);
			console.log("Chat Sound: ", chatSound);
			soundSettings = {
				notificationSound: notificationSound,
				chatSound: chatSound
			};
			localStorage.setItem("soundSettings", JSON.stringify(soundSettings));
			window.location.reload();
		});
	});
</script>